[mysqld]
#user=root
user = mysql
# 设置服务器端口号
port=3306

# 设置服务器字符集
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

# 设置服务器默认存储引擎
default-storage-engine=InnoDB

# 设置服务器默认时区
default-time-zone=+00:00

# 设置最大连接数
max_connections=100

# 设置日志文件路径
log-error=/var/log/mysql/error.log

# 其他设置...
sql-mode="ONLY_FULL_GROUP_BY,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

[client]
user=root

